h1 {
    padding-top: 2%;
}

.font-system-ui{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    margin-left: 3%;
}

p {
    margin-left: 3%;
}

li {
    margin-left: 1%;
}

.list-style-none{
    list-style:none
}

.gambar-produk-1 {
    float:right;height: 15em;margin-left:1%;margin-right:1%;margin-bottom:2%
}

.gambar-produk-2 {
    float:right;height: 15em;margin-left:1%;margin-right:1%;margin-bottom:2%
}

hr {
    height: 2px; border-width: 0; color: black; background-color: grey;
}

dd {
    text-align:justify;
}

dl {
    margin: 1%;
}

.margin-left-right{
    margin-left: 1%;
    margin-right: 1%;
}

dt {
    margin-bottom: 1%;
}

.border {
    border: 1px;
}

.black {
    background-color: black;
    color: white;
}

.link {
    color:maroon
}

#Facebook {
    color: #3b5998;
}

#Instagram {
    color: #D33187;
}

#YouTube {
    color: #FF0000;
}

